In [28]:
from surprise import Dataset
from surprise.model_selection import cross_validate
from surprise import KNNBasic, KNNWithMeans, KNNWithZScore, KNNBaseline
from surprise import SVD, SVDpp, NMF, SlopeOne, CoClustering
from surprise import Reader
import pandas as pd

movies = pd.read_csv("D:/Documents/python_projects/Netology/venv/Рекомендательные системы/1_Введение и классификация рекомендательных систем/movies.csv")
ratings = pd.read_csv("D:/Documents/python_projects/Netology/venv/Рекомендательные системы/1_Введение и классификация рекомендательных систем/ratings.csv")

In [30]:
movies_with_ratings = movies.merge(ratings, on='movieId').reset_index(drop=True)
movies_with_ratings.dropna(inplace=True)
movies_with_ratings.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [32]:
dataset = pd.DataFrame({
    'uid': movies_with_ratings.userId,
    'iid': movies_with_ratings.title,
    'rating': movies_with_ratings.rating
})

In [34]:
dataset.head()

   uid               iid  rating
0    1  Toy Story (1995)     4.0
1    5  Toy Story (1995)     4.0
2    7  Toy Story (1995)     4.5
3   15  Toy Story (1995)     2.5
4   17  Toy Story (1995)     4.5

In [36]:
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(dataset, reader)

In [38]:
data

In [58]:
models = {
    "KNNBasic": KNNBasic(),
    "KNNWithMeans": KNNWithMeans(),
    "KNNWithZScore": KNNWithZScore(),
    "KNNBaseline": KNNBaseline(),
    "SVD": SVD(),
    "SVDpp": SVDpp(),
    "NMF": NMF(),
    "SlopeOne": SlopeOne(),
    "CoClustering": CoClustering()
}
list_models = []

for name, model in models.items():
    print(f"\n=== Evaluating {name} ===")
    cv_results = cross_validate(
        model, 
        data, 
        measures=["RMSE"], 
        cv=5,
        verbose=True,
        n_jobs=-1
    )
    
    avg_rmse = sum(cv_results["test_rmse"]) / 5
    if avg_rmse <= 0.87:
        list_models.append(name)
        print(f"\nAverage RMSE: {avg_rmse:.4f}")
    else:
        print(f"Модель {name} не подходит")
print (f"Список моделей с RMSE <= 0,87 {list_models}")

=== Evaluating KNNBasic ===
Evaluating RMSE of algorithm KNNBasic on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9506  0.9528  0.9467  0.9499  0.9412  0.9482  0.0040
Fit time          0.34    0.37    0.39    0.33    0.31    0.35    0.03
Test time         1.88    1.83    1.77    1.75    1.66    1.78    0.08
Модель KNNBasic не подходит

=== Evaluating KNNWithMeans ===
Evaluating RMSE of algorithm KNNWithMeans on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9013  0.8951  0.8986  0.8870  0.8989  0.8962  0.0050
Fit time          0.32    0.30    0.30    0.26    0.25    0.29    0.03
Test time         1.64    1.65    1.61    1.57    1.62    1.62    0.03
Модель KNNWithMeans не подходит

=== Evaluating KNNWithZScore ===
Evaluating RMSE of algorithm KNNWithZScore on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8924  0.8989  0.8964  0.8981  0.8958  0.8963  0.0023
Fit time          0.45    0.42    0.44    0.42    0.40    0.42    0.02
Test time         2.37    2.36    2.31    2.22    2.16    2.28    0.08
Модель KNNWithZScore не подходит

=== Evaluating KNNBaseline ===
Evaluating RMSE of algorithm KNNBaseline on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8696  0.8710  0.8785  0.8727  0.8814  0.8747  0.0045
Fit time          0.41    0.42    0.41    0.35    0.33    0.39    0.04
Test time         2.14    2.10    2.05    1.95    2.00    2.05    0.07
Модель KNNBaseline не подходит

=== Evaluating SVD ===
Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8755  0.8709  0.8762  0.8672  0.8766  0.8733  0.0037
Fit time          1.27    1.31    1.36    1.31    1.29    1.31    0.03
Test time         0.26    0.24    0.18    0.17    0.14    0.20    0.05
Модель SVD не подходит

=== Evaluating SVDpp ===
Evaluating RMSE of algorithm SVDpp on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8651  0.8618  0.8613  0.8591  0.8560  0.8606  0.0030
Fit time          106.52  105.70  105.94  105.23  105.67  105.81  0.42
Test time         12.13   12.35   12.50   12.51   12.32   12.36   0.14

Average RMSE: 0.8606

=== Evaluating NMF ===
Evaluating RMSE of algorithm NMF on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9311  0.9162  0.9180  0.9238  0.9256  0.9230  0.0054
Fit time          2.53    2.62    2.63    2.67    2.57    2.60    0.05
Test time         0.19    0.15    0.16    0.13    0.13    0.16    0.02
Модель NMF не подходит

=== Evaluating SlopeOne ===
Evaluating RMSE of algorithm SlopeOne on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9049  0.8976  0.9107  0.8940  0.9033  0.9021  0.0058
Fit time          11.16   11.51   11.32   10.70   9.32    10.80   0.79
Test time         8.50    8.16    8.32    8.53    8.95    8.49    0.27
Модель SlopeOne не подходит

=== Evaluating CoClustering ===
Evaluating RMSE of algorithm CoClustering on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9456  0.9516  0.9446  0.9398  0.9458  0.9455  0.0037
Fit time          2.68    2.68    2.73    2.61    2.67    2.67    0.04
Test time         0.15    0.20    0.16    0.14    0.25    0.18    0.04
Модель CoClustering не подходит
Список моделей с RMSE <= 0,87 ['SVDpp']